.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    margin-top: 20px;
}
.video{
    text-align: center;
}
.video video{
max-width: 80%;
border-radius: 10px;
margin-top: 20px;
}

@media (max-width: 700px){
    .about{
        grid-template-columns: 1fr;
    }
    .video video{
        max-width: 90%;
        }
        h1{
            font-size: 2rem;
        }
}